In [1]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt

In [2]:
# Lec-24 0:47 or ScreenShot(955) 
a = [4,3,2]
b = [2,4,6]
c = [2,1,3]

In [3]:
stats.f_oneway(a,b,c)
# (F-value, P-value)
# If alpha=5% then accept null hypothesis

F_onewayResult(statistic=1.5, pvalue=0.2962962962962963)

In [7]:
data = pd.read_excel('oneway.xlsx')
data

   Teaching Method  Teaching Method2  Teaching Method3
0                4                 2                 2
1                3                 4                 1
2                2                 6                 3

In [8]:
# melt is used to convert data in this format
data_new = pd.melt(data.reset_index(), id_vars=['index'], value_vars=['Teaching Method','Teaching Method2','Teaching Method3'])
data_new.columns = ['index','Treatments','value']
data_new

   index        Treatments  value
0      0   Teaching Method      4
1      1   Teaching Method      3
2      2   Teaching Method      2
3      0  Teaching Method2      2
4      1  Teaching Method2      4
5      2  Teaching Method2      6
6      0  Teaching Method3      2
7      1  Teaching Method3      1
8      2  Teaching Method3      3

In [9]:
# ols is ordinary least square method 
model = ols('value ~ C(Treatments)', data=data_new).fit()

In [10]:
anova_table = sm.stats.anova_lm(model,typ=1)
anova_table
# Get anova table
# It represent degrees of freedom for treatment bcoz there were 3 columns
# Treatment is 2 whereas Residual is 6 bcoz for column1 there are 3 elements 
# so 3-1=2, degrees of freedom and column 2 also another 2 degrees of freedom
# column 3 also another 2 degrees of freedom total 6 degrees of freedom
# sum of square is 6 and 12
# mean sum of square is 6/2 and 12/6
# F-value is 3/2
# p-value we already got previously
# total there are 6 degrees of freedom

                df  sum_sq  mean_sq    F    PR(>F)
C(Treatments)  2.0     6.0      3.0  1.5  0.296296
Residual       6.0    12.0      2.0  NaN       NaN